{% extends "layout.html" %}
{% block body %}
    <div>
    <img src="https://www.iienstitu.com/uploads/blog-fotolar-02/online-egitim-ve-surecleri-1-min_w1145_h572_op.jpg">
    <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">İngilizce</th>
        <th></th>
      <th scope="col">Türkçe</th>
    </tr>
  </thead>
  <tbody>

  {% for i in result %}

    <tr>
      <td>{{ i["english"] }}  </td>
        <td>-</td>
      <td>{{ i["turkish"] }}</td>
    </tr>

   {% endfor %}
  </tbody>
</table>
    </div>

{% endblock %}